@font-face {
    font-family: Lato;
    src: url(assets/fonts/Lato/Lato-Light.ttf);
}


:root {
    min-height: 100vh;
    background: radial-gradient(ellipse at 30% 50%, #1a313a 0%, transparent 50%),
                radial-gradient(ellipse at 70% 50%, #2a1a2a 0%, transparent 50%),
                #0e0e0e;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Lato;
}

.glassmorphed {
    background: rgba(255, 255, 255, 0.02);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.glassmorphed-bright {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.sticky {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

.hidden {
    opacity: 0;
    transition: 0.5s;
}

body {
    margin: 0;
}


header.glassmorphed {
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    padding: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
}

.header-right {
    display: flex;
    align-items: center;
    a {
        padding: 10px;
        text-decoration: none;
        color: white;
    }
}

.banner {
    display: flex;
    align-items: center;
    span {
        padding: 10px;
    }  
}

.product, .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 25px;
    font-size: 1.5em;
    gap: 20px;
    transition: 0.1s;
    border-radius: 20px;
    img {
        width: 300px;
        height: 150px;
        flex-shrink: 0;
        border-radius: 20px;
    }

    p.description {
        flex: 1;
    }
    p.price {
        color: rgb(167, 167, 167);
    }

    .add {
        flex-shrink: 0;
        padding: 10px;
        font-size: 20px;
    }
    
}

span.amount {
    color: rgb(167, 167, 167);
}

.shopping-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 100svh;
    #shopping-list {
        flex: 1;
    }

}


#checkout {
    width: 20%;
    margin: 10px;
    padding: 15px;
    flex-shrink: 0;
    height:30%;
    .checkout-button {
        width: 100%;
        margin: 5px;
        font-size: 1.5em;

    }
    #details{
        font-size: 1.8em;
        margin: 20px;
    }
    h2 {
        font-size: 2.5em;
        margin: 5px;
        padding: 10px;
    }


}

.qty-controls {
    display: flex;
    flex-direction: column;
    text-align: center;
    button {
        height: 2em;
        width: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        
    }
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer.glassmorphed {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    margin-bottom: 0;
    padding: 30px;
    text-align: center;
}

#notification {
    padding: 15px;
    font-size: 1.5em;
    transition: 0.5s;
}

.product:hover, .cart-item:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    scale: 1.01;
}


button {
    background: #2b5b66;
    background: linear-gradient(150deg,rgba(43, 91, 102, 1) 0%, rgba(87, 52, 87, 1) 100%);
    color: white;
    border: 0;
    border-radius: 10px;
    transition: 0.1s;
    cursor: pointer;
    font-family: Lato;
}

button:hover {
    scale: 1.05;
    background: #3a7d8b;
    background: linear-gradient(150deg,rgb(58, 120, 134) 0%, rgb(136, 81, 136) 100%);
}